force-app/main/default/flows/Tuition_Reimbursement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Automatic_Email_to_Employee_If_HR_files_case</name>
        <label>Automatic Email to Employee If HR files case</label>
        <locationX>2020</locationX>
        <locationY>1230</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AutomaticEmailToEmployee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Tuition Reimbursement Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ContactRecord.Email__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tuition_Reimbursement_Automatic_Email</name>
        <label>Tuition Reimbursement Automatic Email</label>
        <locationX>2016</locationX>
        <locationY>962</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TuitionReimbursmentBodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Tuition Reimbursment Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CurrentUserRecord.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_additional_Info</name>
        <label>Assign additional info</label>
        <locationX>509</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Educational_Institution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Educational_Institution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Other_Educational_Institution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Educational_Institution_if_not_listed_above</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Degree_In_Progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Degree_In_Progress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Major__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Major_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Minor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Minor_List</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_One_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_One_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_One_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_One_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_One_Beginning_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_One_Beginning_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_One_Ending_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_One_Ending_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Semester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_One_Semester_Dropdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_One_Tuition_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_One_Tuition_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_One_Lab_Books_Materials_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_One_Lab_Books_Materials_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Other_Major__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Major_if_not_listed_above</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Other_Minor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Two_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Two_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Two_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Two_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Two_Beginning_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Two_Beginning_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Two_Ending_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Two_Ending_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Two_Tuition_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Two_Tuition_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Two_Lab_Book_Materials_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Two_Lab_Books_Materials_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Three_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Three_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Three_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Three_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Three_Beginning_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Three_Beginning_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Three_Ending_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Three_Ending_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Three_Tuition_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Three_Tuition_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Course_Three_Lab_Books_Materials_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Three_Lab_Books_Materials_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Benefits_Assistance_Source__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Class_Certification_Seminar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_a_class_certification_or_seminar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Currently_Receiving_Workers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_currently_receiving_Workers_Compensation_Disability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Currently_On_LOA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_currently_or_will_you_be_going_on_LOA_FMLA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.LOA_FMLA_From_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOA_FMLA_From_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.LOA_FMLA_To_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOA_FMLA_To_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Grant_total_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grant_total_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Loan_total_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_total_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Scholarship_total_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scholarship_total_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Employee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Employee_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Supervisor_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acknowledgement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseID</name>
        <label>Assign CaseID</label>
        <locationX>1836</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>CaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transferAttachmentstoCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Not_HR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseValues</name>
        <label>Assign Case Values</label>
        <locationX>1554</locationX>
        <locationY>1107</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fast_Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Case_Rejected_Courses</name>
        <label>Assignment Case Rejected Courses</label>
        <locationX>1538</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fast_Create_Rejected_Case_Courses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Rejected_Acknowledgement</name>
        <label>Case Rejected Acknowledgement</label>
        <locationX>1317</locationX>
        <locationY>957</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rejected_Case_Acknowledgement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Rejected_Is_In_House_Registry</name>
        <label>Case Rejected Is In House Registry</label>
        <locationX>505</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rejected_Case_Is_In_House_Registry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Rejected_LOA_FMLA_Assignment</name>
        <label>Case Rejected LOA / FMLA Assignment</label>
        <locationX>178</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Currently_On_LOA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_currently_or_will_you_be_going_on_LOA_FMLA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Currently_Receiving_Workers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_currently_receiving_Workers_Compensation_Disability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.LOA_FMLA_From_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOA_FMLA_From_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.LOA_FMLA_To_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOA_FMLA_To_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rejected_Case_LOA_FMLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Rejected_Not_Class_Assignment</name>
        <label>Case Rejected Not Class Assignment</label>
        <locationX>1203</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Class_Certification_Seminar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_a_class_certification_or_seminar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Currently_On_LOA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_currently_or_will_you_be_going_on_LOA_FMLA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Currently_Receiving_Workers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_currently_receiving_Workers_Compensation_Disability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.LOA_FMLA_From_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOA_FMLA_From_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.LOA_FMLA_To_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOA_FMLA_To_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rejected_Case_Not_Class</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Rejected_Not_Full_Time_1_Year_Assignment</name>
        <label>Case Rejected Not Full Time 1 Year Assignment</label>
        <locationX>1416</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rejected_Case_Not_Full_TIme_At_Least_1_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hide_Upload</name>
        <label>Hide Upload</label>
        <locationX>347</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>ShowUpload</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_additional_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Upload</name>
        <label>Show Upload</label>
        <locationX>175</locationX>
        <locationY>1009</locationY>
        <assignmentItems>
            <assignToReference>ShowUpload</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accrual_Error_Choice</name>
        <choiceText>Accrual Error</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Accrual_Error_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Accrual_Error_False</name>
        <choiceText>Accrual Error</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Acknowledgement_I_Accept</name>
        <choiceText>I Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>YES</elementReference>
        </value>
    </choices>
    <choices>
        <name>Acknowledgement_I_Decline</name>
        <choiceText>I Decline</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NO</elementReference>
        </value>
    </choices>
    <choices>
        <name>Benefits_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NoChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Benefits_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>YesChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Certification</name>
        <choiceText>Certification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Class</name>
        <choiceText>Class</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Class</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fall_semester</name>
        <choiceText>Fall</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Fall_semester</elementReference>
        </value>
    </choices>
    <choices>
        <name>FullTimeNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NO</elementReference>
        </value>
    </choices>
    <choices>
        <name>FullTimeYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>YES</elementReference>
        </value>
    </choices>
    <choices>
        <name>Grant</name>
        <choiceText>Grant</choiceText>
        <dataType>Currency</dataType>
        <value>
            <elementReference>Grant</elementReference>
        </value>
    </choices>
    <choices>
        <name>Grant_tuition</name>
        <choiceText>Grant</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>LOA_FMLA_No_Response</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NoChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>LOA_FMLA_Yes_Response</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>YesChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Loan</name>
        <choiceText>Loan</choiceText>
        <dataType>Currency</dataType>
        <value>
            <elementReference>Loan</elementReference>
        </value>
    </choices>
    <choices>
        <name>Loan_tuition</name>
        <choiceText>Loan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NO</name>
        <choiceText>NO</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>NoChoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_semester</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Other_semester</elementReference>
        </value>
    </choices>
    <choices>
        <name>Pay_Error_Choice</name>
        <choiceText>Pay Error</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Pay_Error_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Pay_Error_True</name>
        <choiceText>Pay Rate Error</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Scholarship</name>
        <choiceText>Scholarship</choiceText>
        <dataType>Currency</dataType>
    </choices>
    <choices>
        <name>Scholarship_tuition</name>
        <choiceText>Scholarship</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Seminar</name>
        <choiceText>Seminar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seminar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spring_semester</name>
        <choiceText>Spring</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Spring_semester</elementReference>
        </value>
    </choices>
    <choices>
        <name>Summer_semester</name>
        <choiceText>Summer</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Summer_semester</elementReference>
        </value>
    </choices>
    <choices>
        <name>Winter_semester</name>
        <choiceText>Winter</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Winter_semester</elementReference>
        </value>
    </choices>
    <choices>
        <name>Workers_Compensation_No_Response</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NoChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Workers_Compensation_Yes_Response</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>YesChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>YES</name>
        <choiceText>YES</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>YesChoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Acknowledgement_Decision</name>
        <label>Acknowledgement Decision</label>
        <locationX>913</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Acknowledgment_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acknowledgement_Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tuition_Reimbursement_Agreement_NNOC</targetReference>
            </connector>
            <label>Acknowledgment Accepted</label>
        </rules>
        <rules>
            <name>Acknowledgement_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acknowledgement_Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Rejected_Acknowledgement</targetReference>
            </connector>
            <label>Acknowledgement Declined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Benefit_Check</name>
        <label>Benefit Check</label>
        <locationX>890</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Grant_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grant_tuition</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grant_Amount</targetReference>
            </connector>
            <label>Grant Selected</label>
        </rules>
        <rules>
            <name>Loan_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_tuition</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Amount</targetReference>
            </connector>
            <label>Loan Selected</label>
        </rules>
        <rules>
            <name>Scholarship_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scholarship_tuition</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scholarship_Amount</targetReference>
            </connector>
            <label>Scholarship Selected</label>
        </rules>
        <rules>
            <name>Benefits_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>None</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grant_tuition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_tuition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scholarship_tuition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Upload</targetReference>
            </connector>
            <label>Benefits None</label>
        </rules>
    </decisions>
    <decisions>
        <name>ClassCertificationSeminarDecision</name>
        <label>ClassCertificationSeminarDecision</label>
        <locationX>809</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>[Is Not Class]</defaultConnectorLabel>
        <rules>
            <name>Is_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_a_class_certification_or_seminar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Class</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Education</targetReference>
            </connector>
            <label>Is Class</label>
        </rules>
        <rules>
            <name>Is_Not_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_a_class_certification_or_seminar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Class</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Rejected_Not_Class_Assignment</targetReference>
            </connector>
            <label>Is Not Class</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_Check</name>
        <label>Eligibility Check</label>
        <locationX>1538</locationX>
        <locationY>709</locationY>
        <defaultConnectorLabel>Courses are eligible</defaultConnectorLabel>
        <rules>
            <name>Courses_are_eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysUntilCourseOneStartDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysUntilCourseTwoStartDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysUntilCourseThreeStartDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <label>Courses are eligible</label>
        </rules>
        <rules>
            <name>Courses_are_not_eligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DaysUntilCourseOneStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysUntilCourseTwoStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysUntilCourseThreeStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Case_Rejected_Courses</targetReference>
            </connector>
            <label>Courses are not eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_Agree_to_NNOC</name>
        <label>Employee Agree to NNOC</label>
        <locationX>1058</locationX>
        <locationY>1112</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NNOC_Agree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NNOC_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Acknowledgement_I_Accept</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attestation</targetReference>
            </connector>
            <label>NNOC Agree</label>
        </rules>
        <rules>
            <name>NNOC_Decline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NNOC_Agreement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Acknowledgement_I_Decline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Must_Accept_NNOC_Agreement</targetReference>
            </connector>
            <label>NNOC Decline</label>
        </rules>
    </decisions>
    <decisions>
        <name>FullTimeDecision</name>
        <label>FullTimeDecision</label>
        <locationX>1118</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>User_Is_Full_Time_1_Year</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceHireDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>365.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceHireDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_In_House_Registry</targetReference>
            </connector>
            <label>User Is Full Time 1 Year</label>
        </rules>
        <rules>
            <name>User_Is_Not_Full_Time_1_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceHireDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>365.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Rejected_Not_Full_Time_1_Year_Assignment</targetReference>
            </connector>
            <label>User Is Not Full Time 1 Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_In_House_Registry</name>
        <label>Is In-House Registry</label>
        <locationX>504</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_In_House_Registry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Job_Code_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3999</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Job_Code_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6677</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Rejected_Is_In_House_Registry</targetReference>
            </connector>
            <label>Yes In House Registry</label>
        </rules>
        <rules>
            <name>Is_Not_In_House_Registry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Job_Code_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3999</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Job_Code_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>6677</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Job_Code_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOA_FMLA_Screen</targetReference>
            </connector>
            <label>Is Not In-House Registry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Not_HR</name>
        <label>Is Not HR</label>
        <locationX>2015</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>Tuition_Reimbursement_Automatic_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Not_HR_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchorFileOnBehalfofSelf</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automatic_Email_to_Employee_If_HR_files_case</targetReference>
            </connector>
            <label>Is Not HR True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Standard_User</name>
        <label>Is Standard User?</label>
        <locationX>893</locationX>
        <locationY>40</locationY>
        <defaultConnector>
            <targetReference>SearchorFileOnBehalfofSelf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Standard_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserRecord.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cook County Health Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Contact_Record</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Active</name>
        <label>Is User Active</label>
        <locationX>1119</locationX>
        <locationY>103</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactRecord</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Not_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Not_Active</targetReference>
            </connector>
            <label>Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>LOA_FMLA_Decision</name>
        <label>LOA / FMLA Decision</label>
        <locationX>176</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LOA_FMLA_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_currently_or_will_you_be_going_on_LOA_FMLA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Are_you_currently_receiving_Workers_Compensation_Disability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Class_certification_or_seminar_screen</targetReference>
            </connector>
            <label>LOA / FMLA Eligible</label>
        </rules>
        <rules>
            <name>LOA_FMLA_Not_Eligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_currently_or_will_you_be_going_on_LOA_FMLA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Are_you_currently_receiving_Workers_Compensation_Disability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Rejected_LOA_FMLA_Assignment</targetReference>
            </connector>
            <label>LOA / FMLA Not Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Benefits_Check1</name>
        <label>Remaining Benefits Check1</label>
        <locationX>327</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>Show_Upload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Loan_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_tuition</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_total_amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Amount</targetReference>
            </connector>
            <label>Loan Check</label>
        </rules>
        <rules>
            <name>Scholarship_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scholarship_tuition</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scholarship_total_amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scholarship_Amount</targetReference>
            </connector>
            <label>Scholarship check</label>
        </rules>
        <rules>
            <name>Grant_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grant_tuition</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Grant_total_amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grant_Amount</targetReference>
            </connector>
            <label>Grant Check</label>
        </rules>
    </decisions>
    <description>PK Changes - for Attachments to Case record</description>
    <dynamicChoiceSets>
        <name>AccrualIssueType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accrual_Issue_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CourseOneSemester</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Semester__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CourseThreeSemester</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Semester__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CourseTwoSemester</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Semester__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DegreeInProgress</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Degree_In_Progress__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EducationalInstitution</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Educational_Institution__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Issue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Major</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Major__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Minor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Minor__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PayAccrualChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SelectedErrorTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForError</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Error__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WasLeavePaidorUnpaid</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Leave_of_Absence_Paid_or_Unpaid__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DaysSinceHireDateFormula</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!ContactRecord.Original_Hire_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DaysUntilCourseOneStartDate</name>
        <dataType>Number</dataType>
        <expression>IF(
NOT(ISBLANK({!Course_One_Beginning_Date})),
{!Course_One_Beginning_Date} - TODAY() ,
14)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DaysUntilCourseThreeStartDate</name>
        <dataType>Number</dataType>
        <expression>IF(
NOT(ISBLANK({!Course_Three_Beginning_Date})),
{!Course_Three_Beginning_Date} - TODAY() ,
14)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DaysUntilCourseTwoStartDate</name>
        <dataType>Number</dataType>
        <expression>IF(
NOT(ISBLANK({!Course_Two_Beginning_Date})),
{!Course_Two_Beginning_Date} - TODAY() ,
14)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LengthError</name>
        <dataType>String</dataType>
        <expression>{!$Label.LengthError}</expression>
    </formulas>
    <interviewLabel>Tuition Reimbursement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tuition Reimbursement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rejected_Case_Acknowledgement</name>
        <label>Create Rejected Case Acknowledgement</label>
        <locationX>1471</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>Acknowledgement_Case_Rejected</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejected_Case_Is_In_House_Registry</name>
        <label>Create Rejected Case - Is In House Registry</label>
        <locationX>678</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Case_Rejected_In_House_Registry</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejected_Case_LOA_FMLA</name>
        <label>Create Rejected Case LOA FMLA</label>
        <locationX>179</locationX>
        <locationY>662</locationY>
        <connector>
            <targetReference>Case_Rejected_LOA_FMLA</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejected_Case_Not_Class</name>
        <label>Create Rejected Case - Not Class</label>
        <locationX>1431</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Case_Rejected_Not_Class</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rejected_Case_Not_Full_TIme_At_Least_1_Year</name>
        <label>Create Rejected Case - Not Full TIme At Least 1 Year</label>
        <locationX>1610</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Case_Rejected_Not_Full_Time_At_Least_1_Year</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Fast_Create_Case</name>
        <label>Fast Create Case</label>
        <locationX>1699</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Assign_CaseID</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Fast_Create_Rejected_Case_Courses</name>
        <label>Fast Create Rejected Case Courses</label>
        <locationX>1660</locationX>
        <locationY>818</locationY>
        <connector>
            <targetReference>Acknowledgment_Case_Rejected_Courses</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>1274</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FullTimeDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>DaysSinceHireDate</assignToReference>
            <field>DaysSinceHireDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord.Job_Code_ID__c</assignToReference>
            <field>Job_Code_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord.Supervisor_Email__c</assignToReference>
            <field>Supervisor_Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_Lookup</name>
        <label>Record Type Lookup</label>
        <locationX>174</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Tuition_Reimbursement</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Acknowledgement</name>
        <label>Acknowledgement</label>
        <locationX>669</locationX>
        <locationY>1122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Acknowledgement_Decision</targetReference>
        </connector>
        <fields>
            <name>Acknowledgement_Display_Text</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Within fourteen (14) business days of receipt of your request, you will receive acknowledgement from the Department of Human Resources indicating whether or not your request has been approved for reimbursement. Further instructions will also be enclosed that must be adhered to upon completion of each course. &lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Signature at the department level does not indicate your request for reimbursement has been granted and/or approved. &lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Submitting this Tuition Reimbursement request also does not indicate approval.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Department of Human Resources provides final approval for all requests.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;BR&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Upon completion of each course the following items must be submitted within forty-five (45) business days for reimbursement: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Original paid receipts&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Original grade transcripts&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Original canceled check and/or original credit card statement&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;An original itemized statement from the school&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Copies of the last three (3) pay stubs for the time period of three (3) pay periods prior to the end of the semester/class.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please note: &lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A credit card statement must be in your or your spouse&amp;apos;s name with full name shown.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Applications will not be accepted if all requested items are not submitted. &lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If your application is returned to you, you will only be allowed to resubmit it if you are still within your forty-five (45) business day completion period.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acknowledgement_Response</name>
            <choiceReferences>Acknowledgement_I_Accept</choiceReferences>
            <choiceReferences>Acknowledgement_I_Decline</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please acknowledge:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Acknowledgement_Case_Rejected</name>
        <label>Acknowledgement Case Rejected</label>
        <locationX>1658</locationX>
        <locationY>963</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AcknowledgementCaseRejectedDisplayText</name>
            <fieldText>Sorry, you must accept the terms in order to be eligible for Tuition Reimbursement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Acknowledgment_Case_Rejected_Courses</name>
        <label>Acknowledgment Case Rejected Courses</label>
        <locationX>1812</locationX>
        <locationY>818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, you are not eligible for Tuition Reimbursement.  Applications must be submitted in person to the Department of Human Resources fourteen (14) working days before the semester class/begins for final approval.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Benefits</name>
        <label>Benefits</label>
        <locationX>1150</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Benefit_Check</targetReference>
        </connector>
        <fields>
            <name>Benefits_Multi_Select</name>
            <choiceReferences>Grant_tuition</choiceReferences>
            <choiceReferences>Loan_tuition</choiceReferences>
            <choiceReferences>Scholarship_tuition</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>If you will receive benefits and/ or assistance from any other sources (loans, grants, etc.), please indicate the source. (Select all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Rejected_In_House_Registry</name>
        <label>Case Rejected - In-House Registry</label>
        <locationX>812</locationX>
        <locationY>161</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InHouseRegistry</name>
            <fieldText>Sorry, In-House Registry Nurses are not eligible for Tuition Reimbursement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Rejected_LOA_FMLA</name>
        <label>Case Rejected LOA / FMLA</label>
        <locationX>181</locationX>
        <locationY>755</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseRejectedDisplayText</name>
            <fieldText>Sorry, you are not eligible for Tuition Reimbursement if you are currently on/ will be going on LOA/FMLA or are currently receiving Workers&#39; Compensation/Disability.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Rejected_Not_Class</name>
        <label>Case Rejected - Not Class</label>
        <locationX>1631</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseRejectedClass</name>
            <fieldText>Sorry, only classes are eligible for Tuition Reimbursement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Rejected_Not_Full_Time_At_Least_1_Year</name>
        <label>Case Rejected - Not Full Time At Least 1 Year</label>
        <locationX>1799</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>YouMustBeFullTime</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, you must be full time at Cook County Health for at least 1 year in order to be eligible for Tuition Reimbursement.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Days since hire date: {!DaysSinceHireDate}&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Class_certification_or_seminar_screen</name>
        <label>ClassCertificationSeminarScreen</label>
        <locationX>520</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClassCertificationSeminarDecision</targetReference>
        </connector>
        <fields>
            <name>Is_this_a_class_certification_or_seminar</name>
            <choiceReferences>Class</choiceReferences>
            <choiceReferences>Certification</choiceReferences>
            <choiceReferences>Seminar</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Class</defaultSelectedChoiceReference>
            <fieldText>Is this a class, certification or seminar?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Information</name>
        <label>Course Information</label>
        <locationX>823</locationX>
        <locationY>620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_One_Information</targetReference>
        </connector>
        <fields>
            <name>CourseInformationDisplayText</name>
            <fieldText>Completed applications must be submitted fourteen (14) business (not including holidays or weekends) days before the semester/class begins for final approval. Applications submitted any time after the fourteen (14) day cut off and/or after the semester/class starts will not be considered. Incomplete, unsigned and/or applications missing the required attached documents will not be accepted.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CourseInfoDisplayText2</name>
            <fieldText>An official course curriculum for the entire semester, and a course schedule which indicates the start and end date of each class, must be attached to the reimbursement form at the time of submission. All classes must be listed on the course outline in order to receive reimbursement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CourseInfoDisplayText3</name>
            <fieldText>Only three (3) courses per semester, trimester or quarter will be considered for reimbursement. Please submit one tuition reimbursement request for up to 3 courses.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CourseInfoDisplayText4</name>
            <fieldText>Reimbursement covers: Tuition, required textbooks, materials and fees such as application, registration, laboratory, and mandatory fees. 

This process is entirely paperless. Upon submission, you will receive a confirmation to your Cook County email account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_One_Information</name>
        <label>Course One Information</label>
        <locationX>1098</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_Two_Information</targetReference>
        </connector>
        <fields>
            <name>CourseOneDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please complete the following fields regarding your courses.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Course_One_Number</name>
            <dataType>String</dataType>
            <fieldText>Course One Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_One_Title</name>
            <dataType>String</dataType>
            <fieldText>Course One Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_One_Beginning_Date</name>
            <dataType>Date</dataType>
            <fieldText>Course One Beginning Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_One_Ending_Date</name>
            <dataType>Date</dataType>
            <fieldText>Course One Ending Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_One_Semester_Dropdown</name>
            <choiceReferences>CourseOneSemester</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Course One Semester</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_One_Tuition_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Course One Cost (Only enter numbers)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Course_One_Lab_Books_Materials_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Course One Registration, Laboratory, and other Mandatory Fees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Three_Information</name>
        <label>Course Three Information</label>
        <locationX>1534</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Benefits</targetReference>
        </connector>
        <fields>
            <name>CourseThreeDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please complete the following fields regarding your courses.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Course_Three_Number</name>
            <dataType>String</dataType>
            <fieldText>Course Three Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_Three_Title</name>
            <dataType>String</dataType>
            <fieldText>Course Three Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_Three_Beginning_Date</name>
            <dataType>Date</dataType>
            <fieldText>Course Three Beginning Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_Three_Ending_Date</name>
            <dataType>Date</dataType>
            <fieldText>Course Three Ending Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_Three_Tuition_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Course Three  Cost (Only enter numbers)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Course_Three_Lab_Books_Materials_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Course Three Registration, Laboratory, and other Mandatory Fees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CourseThree_Not_Applicable</name>
            <dataType>Boolean</dataType>
            <fieldText>Not Applicable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Course_Two_Information</name>
        <label>Course Two Information</label>
        <locationX>1310</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_Three_Information</targetReference>
        </connector>
        <fields>
            <name>CourseTwoDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please complete the following fields regarding your courses.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Course_Two_Number</name>
            <dataType>String</dataType>
            <fieldText>Course Two Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_Two_Title</name>
            <dataType>String</dataType>
            <fieldText>Course Two Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_Two_Beginning_Date</name>
            <dataType>Date</dataType>
            <fieldText>Course Two Beginning Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_Two_Ending_Date</name>
            <dataType>Date</dataType>
            <fieldText>Course Two Ending Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Course_Two_Tuition_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Course Two  Cost (Only enter numbers)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Course_Two_Lab_Books_Materials_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Course Two Registration, Laboratory, and other Mandatory Fees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CourseTwo_Not_Applicable</name>
            <dataType>Boolean</dataType>
            <fieldText>Not Applicable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Education</name>
        <label>Education</label>
        <locationX>819</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Course_Information</targetReference>
        </connector>
        <fields>
            <name>EducationDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please complete the following fields regarding your education.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Educational_Institution</name>
            <choiceReferences>EducationalInstitution</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Educational Institution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Educational_Institution_if_not_listed_above</name>
            <dataType>String</dataType>
            <fieldText>Other Educational Institution (if not listed above)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Degree_In_Progress</name>
            <choiceReferences>DegreeInProgress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Degree In Progress</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Major_Screen</name>
            <choiceReferences>Major</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Major</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Minor_List</name>
            <choiceReferences>Minor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Minor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Major_if_not_listed_above</name>
            <dataType>String</dataType>
            <fieldText>Other Major (if not listed above)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>2214</locationX>
        <locationY>1099</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompletionText</name>
            <fieldText>Your Tuition Reimbursement has been submitted for review.  You will receive a confirmation to your Cook County email account.

You can log in to HR ServiceLink to review the status of your case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Grant_Amount</name>
        <label>Grant Amount</label>
        <locationX>562</locationX>
        <locationY>627</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remaining_Benefits_Check1</targetReference>
        </connector>
        <fields>
            <name>Grant_total_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Please enter the total grant amount received (Only enter numbers)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Have_you_been_full_time_at_least_1_year</name>
        <label>Have you been full time at least 1 year?</label>
        <locationX>1655</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InformationText</name>
            <fieldText>Thank you for your interest in participating in the Cook County Health Tuition Reimbursement program! Please note that all applications must be completed in their entirety, reviewed and signed by the Department Manager / Executive Leader for course content only, prior to submitting to the Department of Human Resources for final approval.

At the time that you submit your request for reimbursement you must have completed one (1) full year of service at your facility, be actively on the payroll (before, during and at the completion of the semester/class), and employed as a Nurse whose job title is covered under the Collective Bargaining Agreement. In-house registry nurses are not eligible for tuition reimbursement. The tuition reimbursement program is for employees pursuing nursing or nursing-related degrees only.

Cook County Health will reimburse at the rate of 100% for those individuals consistently working 80 hours per pay period during the time the course(s) were taken. Individuals working less than 80 hours per pay period will receive reimbursement on a pro rata basis.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FullTime</name>
            <choiceReferences>FullTimeYes</choiceReferences>
            <choiceReferences>FullTimeNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>FullTimeYes</defaultSelectedChoiceReference>
            <fieldText>Have you been full time at least 1 year?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LOA_FMLA_Screen</name>
        <label>LOA / FMLA Screen</label>
        <locationX>176</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LOA_FMLA_Decision</targetReference>
        </connector>
        <fields>
            <name>Are_you_currently_or_will_you_be_going_on_LOA_FMLA</name>
            <choiceReferences>LOA_FMLA_Yes_Response</choiceReferences>
            <choiceReferences>LOA_FMLA_No_Response</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>LOA_FMLA_No_Response</defaultSelectedChoiceReference>
            <fieldText>Are you currently or will you be going on LOA / FMLA during the semester/class of requested tuition reimbursement?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LOA_FMLA_From_Date</name>
            <dataType>Date</dataType>
            <fieldText>LOA / FMLA From Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LOA_FMLA_To_Date</name>
            <dataType>Date</dataType>
            <fieldText>LOA / FMLA To Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Are_you_currently_receiving_Workers_Compensation_Disability</name>
            <choiceReferences>Workers_Compensation_Yes_Response</choiceReferences>
            <choiceReferences>Workers_Compensation_No_Response</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Workers_Compensation_No_Response</defaultSelectedChoiceReference>
            <fieldText>Are you currently receiving Workers&#39; Compensation / Disability?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loan_Amount</name>
        <label>Loan Amount</label>
        <locationX>562</locationX>
        <locationY>740</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remaining_Benefits_Check1</targetReference>
        </connector>
        <fields>
            <name>Loan_total_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Please enter the total loan amount received (Only enter numbers)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Must_Accept_NNOC_Agreement</name>
        <label>Must Accept NNOC Agreement</label>
        <locationX>1062</locationX>
        <locationY>1232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MustAccepptTerms</name>
            <fieldText>Sorry, you must accept the terms in order to be eligible for Tuition Reimbursement.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scholarship_Amount</name>
        <label>Scholarship Amount</label>
        <locationX>555</locationX>
        <locationY>831</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remaining_Benefits_Check1</targetReference>
        </connector>
        <fields>
            <name>Scholarship_total_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Please enter the total scholarship amount received (Only enter numbers)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tuition_Reimbursement_Agreement_NNOC</name>
        <label>Tuition Reimbursement Agreement (NNOC)</label>
        <locationX>907</locationX>
        <locationY>1112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee_Agree_to_NNOC</targetReference>
        </connector>
        <fields>
            <name>Agreement</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This agreement is made between the County of Cook (the &amp;quot;County&amp;quot;) and the Employee:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employee_Agreement</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In accordance with the terms and conditions of the County&amp;apos;s Tuition Reimbursement Program, in the event an employee ceases employment with the County for any reason other than layoff, including termination for cause, less than two years after completion of an educational course for which the employee receives reimbursement, the Employee agrees to repay the tuition reimbursement based on a pro-rata portion of the remaining time in the two year period.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If employment ceases and repayment amount is owed by the employee, and the employee does not otherwise repay the amount, the Employee agrees to have the repayment amount deducted from the Employee&amp;apos;s paycheck(s) that are issued after employment ceases. This includes any and all compensation that is due. After such deduction, any remaining balance owed to the County shall continue to be an obligation of the Employee to the County. The Employee agrees to repay any remaining balance owed after the deduction from the final paycheck to County within 90 days of the date of termination, or if the termination is timely grieved, upon final resolution of the grievance upholding the termination.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If, for any reason, any amount due from the Employee under this Agreement is not fully satisfied in accordance with the above paragraph, the County shall be entitled to collect the entire amount due from the Employee and to take any necessary legal action to do so. In the event that that County must resort to legal action and/or retain the services of any attorney or collection agent in connection with any amounts owed under this Agreement, the County shall be entitled to recover from the Employee, in addition to the amount due under this agreement, all reasonable attorney&amp;apos;s fees, collection fees and costs and court costs.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NNOCText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Employee&amp;apos;s signature below indicates that the Employee has fully read this agreement and agrees to its terms and is entering into this Agreement knowingly and voluntarily.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NNOC_Agreement</name>
            <choiceReferences>Acknowledgement_I_Accept</choiceReferences>
            <choiceReferences>Acknowledgement_I_Decline</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Participation Agreement</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tuition_Reimbursement_Info_Screen</name>
        <label>Tuition Reimbursement Info Screen</label>
        <locationX>180</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Type_Lookup</targetReference>
        </connector>
        <fields>
            <name>InfoText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;All applications must be completed, reviewed and signed by the Department Manager / Executive Leader for course content only, prior to filing. Please have your Supervisors approval email ready for upload to complete Part 1.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br /&gt;&lt;br /&gt;Requirements:&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;UL&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Full year of service at your facility&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Be actively on the payroll (before, during and at the completion of the semester/class)&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Employed as a Nurse whose job title is covered under the Collective Bargaining Agreement&lt;/FONT&gt;&lt;/LI&gt;&lt;/UL&gt;&lt;/TEXTFORMAT&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br /&gt;&lt;br /&gt;Note:  In-house registry nurses are not eligible for tuition reimbursement. The tuition reimbursement program is for employees pursuing nursing or nursing-related degrees.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br /&gt;&lt;br /&gt;Reimbursement at the rate of 100% for those individuals consistently working 80 hours per pay period during the time the course(s) were taken. Individuals working less than 80 hours per pay period will receive reimbursement on a pro rata basis.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Screen</name>
        <label>Upload Screen</label>
        <locationX>169</locationX>
        <locationY>1126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hide_Upload</targetReference>
        </connector>
        <fields>
            <name>UploadMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Not_Active</name>
        <label>User Not Active</label>
        <locationX>1351</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActivationOfUser</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The selected user is not active. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br /&gt;If you are not in HR, please contact your administrator.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br /&gt;If you are in HR, to activate an employee, please follow the instructions below:&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;UL&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Exit the current workflow and click on the cog wheel located on the top right part of the Salesforce screen&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;After clicking, please select Setup which will take you to a separate page&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter the name of the employee that is inactive in the search bar located on the top of your Salesforce screen&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Once on a users page, click on the Edit button located at the top, middle of the screen&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Next, click inside of the checkbox next to where it says &amp;quot;Active&amp;quot;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Finally, navigate back to the homepage by clicking on the 9 dots that are located on the top left part of the screen under the blue cloud icon&lt;/FONT&gt;&lt;/LI&gt;&lt;/UL&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>180</locationX>
        <locationY>31</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tuition_Reimbursement_Info_Screen</targetReference>
        </connector>
        <fields>
            <name>WelcomeField</name>
            <fieldText>The system is designed to guide you through the steps to file your request. Click the Next button to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Welcome_Screen</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Attestation</name>
        <label>Attestation</label>
        <locationX>1407</locationX>
        <locationY>1111</locationY>
        <connector>
            <targetReference>AssignCaseValues</targetReference>
        </connector>
        <flowName>Attestation</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WizardName</name>
            <value>
                <stringValue>Tuition Reimbursement</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecord</assignToReference>
            <name>CaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>1829</locationX>
        <locationY>53</locationY>
        <flowName>Get_Contact_Record</flowName>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>CurrentUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecord</assignToReference>
            <name>ContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Current_User_Record</name>
        <label>Get Current User Record</label>
        <locationX>510</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Is_Standard_User</targetReference>
        </connector>
        <flowName>Get_User_Record</flowName>
        <outputAssignments>
            <assignToReference>CurrentUserRecord</assignToReference>
            <name>UserRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_User_Contact_Record</name>
        <label>Get User Contact Record</label>
        <locationX>986</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <flowName>Get_Contact_Record</flowName>
        <outputAssignments>
            <assignToReference>ContactRecord</assignToReference>
            <name>ContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Preview_Before_Submission</name>
        <label>Preview Before Submission</label>
        <locationX>1260</locationX>
        <locationY>1238</locationY>
        <flowName>Preview_Before_Submission</flowName>
    </subflows>
    <subflows>
        <name>SearchorFileOnBehalfofSelf</name>
        <label>Search or File On Behalf of Self</label>
        <locationX>1122</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Is_User_Active</targetReference>
        </connector>
        <flowName>Search_or_file_on_behalf_of_self</flowName>
        <inputAssignments>
            <name>IsSearchOnly</name>
            <value>
                <elementReference>NotSearchOnly</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactRecord</assignToReference>
            <name>ContactRecord</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>AllVariableValues</name>
        <text>eCaseID: {!CaseID}
FlowTitle: {!FlowTitle}
SelectedErrorTypeDeveloperName: {!SelectedErrorTypeDeveloperName}
ShowUpload: {!ShowUpload}
VarAdditionalInfo: {!varAdditionalInfo}
CaseRecord: {!CaseRecord}
ContactRecord: {!ContactRecord}
CurrentUserRecord: {!CurrentUserRecord}
LengthError: {!LengthError}
AdditionalInformation: 
AdditionalInformation0: 
DateErrorBegan: 
DateErrorBegan0: 
DateErrorEnded: 
DateErrorEnded0: 
ExpectedGrade: 
ExpectedRate: 
ExpectedStep: 
IndicateWhichDatesWerePaid: 
AccrualErrorIssueType: 
ErrorType: 
IssueField: 
ReasonForError: 
WasALeaveOfAbsenseRequestedNew: 
WasALeavePaid: 
AccrualErrorChoice: {!Accrual_Error_Choice}
AccrualErrorFalse: {!Accrual_Error_False}
No: {!NO}
PayErrorChoice: {!Pay_Error_Choice}
PayErrorTrue: {!Pay_Error_True}
Yes: {!YES}
PayAccrualChoice: {!PayAccrualChoice}
AccrualIssueType: {!AccrualIssueType}
Issue: {!Issue}
ReasonForError: {!ReasonForError}
WasLeavePaidOrUnpaid: {!WasLeavePaidorUnpaid}
FaultMessage: {!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <description>Body text for email sent if HR is filing on behalf of someone</description>
        <name>AutomaticEmailToEmployee</name>
        <text>Dear {!ContactRecord.FirstName} {!ContactRecord.LastName},

Your case regarding Tuition Reimbursement has been submitted to Cook County Health Department of Human Resources for review.

Human Resources will send you an email within three weeks to confirm approval of your request or note if anything is missing from your Tuition Reimbursement submission.

You can access your case by clicking here:

https://hrservicelink.lightning.force.com/lightning/r/Case/{!CaseID}/view

Thank you,

Department of Human Resources</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCreatedEmail</name>
        <text>{!CaseRecord.ContactName__c},

Your {!CaseRecord.RecordTypeName__c} case has been submitted to Cook County Health Department of Human Resources for review.

Human Resources will send you an email within three weeks to confirm approval of your request or note if anything is missing from your Tuition Reimbursement submission.

You can access the {!CaseRecord.RecordTypeName__c} case by clicking here:

https://hrservicelink.lightning.force.com/lightning/r/Case/{!CaseID}/view

Thank you,

Department of Human Resources</text>
    </textTemplates>
    <textTemplates>
        <name>TuitionReimbursmentBodyText</name>
        <text>Dear {!CurrentUserRecord.FirstName} {!CurrentUserRecord.LastName},

Your case regarding Tuition Reimbursement has been submitted to Cook County Health Department of Human Resources for review.

Human Resources will send you an email within three weeks to confirm approval of your request or note if anything is missing from your Tuition Reimbursement submission.

You can access your case by clicking here:

https://hrservicelink.lightning.force.com/lightning/r/Case/{!CaseID}/view

Thank you,

Department of Human Resources</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>DaysSinceHireDate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FlowTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pay Rate / Accrual Error</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotSearchOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The developer name of the selected error type</description>
        <name>SelectedErrorTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set this to true to show the upload screen</description>
        <name>ShowUpload</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>transferAttachmentstoCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAdditionalInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
